@charset "UTF-8";
/* --- MIS NOTAS CSS ---

- usar .elem.active||.elem .active y no .elem-active||.elem-active,
  asi es solo agregar active en CUALQUIER elemento interactivo

  SASS
- @use "src/corners" as c; para cargar corners como c
- @use "src/corners" as *; para cargar y tener acceso a todos los miembros
- Acceder a elementos de otra hoja traida con @use: p {corners.elemento;}
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
/* ----------- GLOBALES ------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  list-style: none;
  user-select: none;
}

:root {
  /* colores */
  --color-fondo: rgb(46 69 89 / 3%);
  --color-fondo-card: white;
  --color-fuente: rgb(51, 51, 51);
  --color-link: lightseagreen;
  --hover-link: mediumturquoise;
  --color-tabla: #1a486121;
  --color-tabla-hover:lightseagreen;
  --margen-fuente: 1rem;
  /* sombras */
  --shadow-black: 0 0 10px 0px #00000014;
  --shadow-black-hover: 0 0 10px 0px #00000030;
  --shadow-img: 0 0 5px 0px black;
}

/* --- SCROLL --- */
/* Tamaño del scroll */
body::-webkit-scrollbar,
aside::-webkit-scrollbar {
  width: 8px;
}

/* Estilos barra (thumb) de scroll */
body::-webkit-scrollbar-thumb,
aside::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}

/* Hover */
body::-webkit-scrollbar-thumb:hover,
aside::-webkit-scrollbar-thumb:hover {
  background: var(--hover-link);
}

/* --- */
img {
  width: 100%;
  object-fit: cover;
  transition: filter 0.5s, box-shadow 0.5s;
}

img:hover {
  filter: hue-rotate(-30deg);
  /* box-shadow: var(--shadow-img); */
}

h1,
h2,
h3,
p,
span {
  color: var(--color-fuente);
  margin-bottom: var(--margen-fuente);
  /* transisiones de color en texto */
  transition: color 0.5s;
}

/* conservan color pero no margen */
li,
i[class*=fa],
span[class*=material] {
  margin-bottom: 0;
  color: var(--color-fuente);
  transition: color 0.5s;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

/* Links */
a {
  color: var(--color-link);
  text-decoration: none;
  transition: color 0.5s;
}

/* Hover Links */
a:hover {
  color: var(--hover-link);
}

hr {
  border: none;
  border-bottom: 1px solid #00000017;
  width: 80%;
  margin: auto;
}

/* ----------- MIS BIBLIOTECAS ------------- */
/* Mi biblioteca flex */
.flex-space-between {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-1 > * {
  flex: 1 12rem;
  padding: 1rem;
}

/* Metodología BEM */
/* Mi biblioteca grid? */
.grid-auto {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  grid-auto-rows: 12rem;
  grid-auto-flow: row dense;
}

/* ---- COMPONENTES ---- */
/* Mi biblioteca card */
.card > * {
  background-color: var(--color-fondo-card);
  box-shadow: var(--shadow-black);
  border-radius: 5px;
  transition: box-shadow 0.3s;
  /* hover */
}
.card > *:hover {
  box-shadow: var(--shadow-black-hover);
}

/* Mi biblioteca boton */
.boton {
  background: var(--color-link);
  display: block;
  /* width: max-content; */
  color: white;
  font-weight: 400;
  /* padding: 0.5em 1.5em; */
  transition-property: background-color, outline;
  transition-duration: 0.3s;
}

.boton:hover {
  background-color: var(--hover-link) !important;
}

/* Mi biblioteca MODAL */
#modal {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  display: none;
}
#modal > * {
  margin: 3rem auto;
  max-height: 80vh;
  width: 50vw;
  padding: 3rem;
  overflow-y: overlay;
  position: relative;
}
#modal [class*=far] {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

@keyframes snippet {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#snippet {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  place-items: center;
  place-content: center;
  background-color: whitesmoke;
  z-index: 1;
}
#snippet > * {
  font-size: 5rem;
  animation: snippet 1s infinite;
  color: slategray;
}

/* ----------- CUERPO DE PAGINAS ------------- */
/* --- LOGIN --- */
.index {
  height: 100vh;
  place-content: center;
}

.contenedor-login {
  width: 12rem;
}

/* --- INTERNA GENERAL --- */
/* hablo a todos los body! */
body {
  background: var(--color-fondo) url("../img/1.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: var(--shadow-black);
}

.interna {
  display: grid;
  gap: 1rem;
  min-height: 100vh;
  /* Auxiliares para que no se agrande mucho, cambiarlo */
  max-width: 1380px;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .interna {
    grid-template-columns: 14rem minmax(20rem, 1fr) 15rem;
  }
}

/* --- NAV --- */
.nav {
  display: flex;
  flex-direction: column;
  /* posiciona estatico y define alto max */
  position: sticky;
  max-height: 100vh;
  top: 0;
  left: 0;
  padding: 1rem;
  background-color: whitesmoke;
  box-shadow: var(--shadow-black);
}
@media screen and (min-width: 768px) {
  .nav {
    background-color: transparent;
  }
}

.nav > :first-child {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* oculto icono cuando screen crece */
  /* icono:hover muestro menu */
}
@media screen and (min-width: 768px) {
  .nav > :first-child > :first-child {
    display: none;
  }
}
.nav > :first-child:hover + ul {
  display: flex;
}

.nav ul {
  display: none;
  gap: 1rem;
  justify-content: space-between;
  flex-flow: column wrap;
  place-content: center start;
  /* como padre es flex estira ul */
  flex-grow: 1;
  /* muestro menu lateral cuando screen ecrece */
}
@media screen and (min-width: 768px) {
  .nav ul {
    display: flex;
  }
}

.nav ul :last-child {
  margin-top: auto;
}

/* Nav item activo */
.nav .active,
.nav .active i {
  color: lightseagreen;
}

.nav i {
  margin-right: 0.5rem;
  opacity: 0.8;
}

/* --- SECTION1 --- */
.section1 {
  display: grid;
  gap: 1rem;
  padding: 1rem;
}

/* Header */
.section1 h1 {
  font-size: 2rem;
  margin: unset;
}

/* - Slider - */
#slider {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  padding: 0;
}

#slider > div {
  grid-area: 1/1/1/span 9;
  opacity: 0;
  padding: 1rem;
}

#slider .boton:last-child {
  border-radius: 0 5px 5px 0;
}

/* Main */
/* cotenedor del chart1 */
.section1 main .chart-1 {
  width: 90vw;
  height: auto;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .section1 main .chart-1 {
    /* anulando tamaño natural del canvas-margen
    para que quede mas apretada la grafica
    ya que configurarla manualmanente es mas huevo */
  }
  .section1 main .chart-1 {
    width: 80%;
    margin: -2rem auto -2rem;
  }
}

/* Footer */
.section1 footer .boton {
  max-width: 12rem;
  margin-right: auto;
  margin-bottom: 1rem;
}

/* reglas a los .active de list */
.section1 .list .active {
  background: rgba(32, 178, 170, 0.28);
}

.section1 .list {
  justify-content: flex-start;
}
.section1 .list > * {
  flex-grow: 0;
}

/* --- SECTION2 --- */
.section2 {
  display: grid;
  gap: 1rem;
  grid-auto-columns: 100%;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .section2 {
    margin-bottom: 50vh;
  }
}

/* header */
/* main */
.section2 .search {
  /* tiene clase flex space between */
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.section2 .search > * {
  max-width: 15rem;
}

/* --- ASIDE --- */
.aside {
  /* posiciona estatico y define alto max */
  position: sticky;
  top: 0;
  right: 0;
  max-height: 100vh;
  overflow-y: auto;
  padding: 1rem 0 1rem;
}

.pendientes {
  width: 12rem;
  margin: auto;
}

.pendientes ul {
  display: grid;
  gap: 0.5rem;
  padding: 0.5rem 0 0.5rem;
}

.pendientes li {
  background-color: white;
  padding: 0.3rem;
  border-radius: 3px;
}

.pendientes li i {
  margin-right: 0.3rem;
}

/* - .active para tachado - */
.pendientes li.active {
  text-decoration: line-through;
}

/* .active click correcto */
.pendientes li i:last-child {
  opacity: 0;
}

.pendientes li.active i:last-child {
  opacity: 0.8;
}

/* --- */
/* ---------- TABLAS, FORMULARIO Y MODAL ------------ */
/* TABLAS GENERAL */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  /* fuente responsiva */
  font-size: clamp(0.5rem, 2vw, 1rem);
}

th,
caption {
  font-weight: 700;
}

td,
th {
  border: 1px solid var(--color-tabla);
  text-align: left;
  padding: 0.5rem;
}

th i {
  opacity: 0;
  margin-left: 1rem;
}

tr:nth-child(even) {
  background-color: var(--color-tabla);
}

tbody tr:hover {
  background: var(--color-tabla-hover);
}

/* FORMULARIO GENERAL */
label {
  /* predefinido son inline */
  /* display: block; */
}

input,
textarea,
select {
  /* predefinido son inline-block */
  /* display: block; */
  background-color: white;
  padding: 0.5rem;
  width: 100%;
  resize: none;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--color-link);
}

/* --- mini personalización (mejorar selectores)--- */
input[type=radio],
input[type=checkbox] {
  width: auto;
}

input[type=range] {
  padding: inherit;
}

/* input[type=search]:after{
    content : url("#");
} */
/* -------- */
input[type=submit],
input[type=button] {
  border: none;
}