/* FORMULARIO GENERAL */
label {
    /* predefinido son inline */
    /* display: block; */
}
input,
textarea,
select {
    /* predefinido son inline-block */
    /* display: block; */
    background-color: white;
    padding: 0.5rem;
    width: 100%;
    resize: none;

    outline: none;
    border: none;
    border-bottom: 2px solid var(--color-link);
}
/* --- mini personalización (mejorar selectores)--- */
input[type="radio"],
input[type="checkbox"] {
    width: auto;
}
input[type="range"] {
    padding: inherit;
}
/* input[type=search]:after{
    content : url("#");
} */
/* -------- */
input[type="submit"],
input[type="button"] {
    border: none;
}